.header
    &-top
        justify-content: flex-start
        gap: 22px

    &-img
        width: 65px
        height: 65px
        border-radius: 17px

    .h1
        font-size: 18px
        font-weight: 400
        line-height: 22.9px
        margin: 0 0 1px

.features
    text-align: center
    margin: 20px 0 25px
    padding: 0 15px
    align-items: flex-end
    justify-content: center
    width: 100vw
    position: relative
    left: -30px
    // overflow-x: scroll
    // -ms-overflow-style: none
    // scrollbar-width: none
    // &::-webkit-scrollbar
    //     display: none
    //     width: 0
    //     height: 0

    &-item
        text-align: center
        width: fit-content
        padding: 0 15px
        border-right: 1px solid rgba(0, 0, 0, .12)
        &:last-of-type
            border-right: none

    &__head
        font-size: 13px
        line-height: 100%
        margin-bottom: 4px
        display: block
        img
            max-width: 17px
            display: block

    img
        display: inline-block
        vertical-align: middle

    i
        white-space: nowrap
        font-size: 10px
        &:not(i.fx)
            display: block
        img
            max-width: 8px

        &.fx
            gap: 3px
            display: flex
            justify-content: center

.images
    width: 100vw
    justify-content: flex-start
    gap: 15px
    padding: 40px 30px 15px
    position: relative
    left: -30px
    overflow-x: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none
        width: 0
        height: 0
    a
        display: inline-block
        width: 31%
        min-width: 31%

    img
        width: 100%
        aspect-ratio: 9/18.5
        object-fit: cover
        max-width: unset
        display: block
        border-radius: 7px
